@import url('https://fonts.googleapis.com/css?family=Lato');
* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    margin: 0;
    overflow: hidden;
}

h4 {
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 10px;
    text-align: center;
    user-select: none;
}

.sidebar {
    /* background-color: #333; */
    /* box-shadow: 0px 0px 10px rgba(30, 30, 30, 0.7); */
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    padding: 5px;
    z-index: 1000;
}

.sidebar ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.sidebar ul li {
    padding: 5px 0;
}

.sidebar input,
.sidebar button {
    text-align: center;
    width: 45px;
}

.sidebar li:last-of-type {
    margin-top: auto;
}

.sidebar button {
    background-color: transparent;
    border: none;
    /* color: #fff; */
    font-size: 20px;
}

button {
    outline: none;
}

.sidebar label {
    display: block;
    font-size: 12px;
    margin-bottom: 3px;
}