body {
    margin: 0 1.2em;
    background-color: #12163B;
}

.submit-btn {
    margin-left: auto;
    margin-right: auto;
    margin: none;
    border: none;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #03a9f4;    
}

#localVideo {
    object-fit: cover;
    width: 700px;
    height: 450px;
    display: block;
    background: #424242;
    transition: right 0.5s linear;
    z-index: 2;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.video-mask {
    top: 25%;
    left: 5%;
    width: 700px;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    z-index: 8;
}

.button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    background: transparent;
    color: #ffffff;
    margin: 8px;
    position: relative;
    bottom: 8px;
    justify-content: center;
    transition: all .25s linear;
    outline: none;
}

.button:hover {
    background: rgba(255, 255, 255, 0.3);
}

.button:focus {
    outline: none;
}

.illustration {
    z-index: 0;
    left: -12%;
    position: relative;
    opacity: 0.5;
}

.box {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
    padding: 2.5rem;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.7);
    /*border-radius: 0.625rem;*/
}

.box h2 {
    margin: 0 0 1.875rem;
    padding: 0;
    color: #fff;
    text-align: center;
}

.box .inputBox {
    position: relative;
}

.box .inputBox input {
    width: 100%;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: #fff;
    letter-spacing: 0.062rem;
    margin-bottom: 1.875rem;
    border: none;
    border-bottom: 0.065rem solid #fff;
    outline: none;
    background: transparent;
}

.box .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.box .inputBox input:focus~label,
.box .inputBox input:valid~label,
.box .inputBox input:not([value=""])~label {
    top: -1.125rem;
    left: 0;
    color: #03a9f4;
    font-size: 0.75rem;
}

.box input[type="submit"] {
    border: none;
    outline: none;
    color: #fff;
    margin: auto;
    background-color: #03a9f4;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.312rem;
    font-size: 1rem;
}

.box input[type="submit"]:hover {
    background-color: #1cb1f5;
}

.video-mask .buttons {
    position: absolute;
    bottom: 0;
    z-index: 12;
    width: 100%;
    text-align: center;
}

#remo-title{
    position: absolute;
    left: 20%;
    top:2vh;
}